include LICENSE
include README.md
include SECURITY.md
include CITATION.cff
recursive-include assets/screenshots *.png
recursive-include examples *.md *.py *.json *.yar *.html
recursive-include data *.json
recursive-include debugger/scripts *.js
